* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nanum Myeongjo', serif;

}

$color-primario: rgb(240, 174, 9);
$color-secundario: black;
$fuente-principal: 'Nanum Myeongjo', serif;
$font-size: 18px;
