* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;

}ul {
    list-style: none;
    font-family: sans-serif;

}

.header {

    background-color: black;
    color: white;
    padding: 1%;

}

.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.header-nav {
    display: flex;
    justify-content: center;
    padding: 1%;

}

.item {
    text-align: center;

}

.bienvenida {
    padding: 2%;

}

@media (min-width: 1200px) {

    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .header-lista {
        display: flex;
        gap: 20px;
    }

    .titulo {
        margin-right: 15%;
    }
}

.bienvenida {
    text-align: center;

}

.galeria-index {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:1200px) {

    .galeria-index {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .galeria-index img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        object-fit: cover;
    }

    .imagen-principal {
        grid-column: span 2;
        grid-row: span 2;
    }
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
}

.footer-contenedor {
    padding: 1%;
    font-size: 16px;

}

.redes-iconos li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    font-size: 20px;
}

.datos {
    font-size: 10px;

}

@media (min-width: 1200px) {

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
    }

    .footer-contenedor {
        align-items: center;
        padding: 1%;

    }

    .span {
        margin-right: 2%;
        font-size: 15px;
    }
}

.quienes-somos {
    text-align: center;
    padding: 2%;
    font-size: 25px;

}

.nosotros {
    justify-content: center;
    padding: 2%;
    font-size: 80x;
}

.imagen-nosotros {
    width: 95%;
    height: 95%;
}

@media (min-width:1200px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }

}

.imagen-ribs {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: row;
    margin-left: 10%;



}

.menu-ribs {

    font-size: 17px;
    align-items: center;
    padding: 3%;
    margin-right: 20%;
    flex-direction: row;
    justify-content: center;
    display: inline-flex;
    gap: 3px;


}

.imagen-pastas {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: row;
    background-color: bisque;
    margin: 3%;
    justify-content: space-between;

}

.menu-pastas {

    font-size: 17px;
    align-items: center;
    padding: 3%;
    margin-right: 20%;
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    gap: 3px;


}

.imagen-costeles {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: row;
    margin-left: 10%;


}

.menu-cocteles {

    font-size: 17px;
    align-items: center;
    padding: 3%;
    margin-right: 20%;
    flex-direction: row;
    justify-content: center;
    display: inline-flex;
    gap: 3px;


}

.titulo-menu {

    padding: 3%;
    background-color: white;

}

.menu-pastas p {
    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.menu-pastas h3 {
    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 15%;

}

.menu-ribs p {
    font-family: serif;
    flex-direction: row;
    justify-content: center;

}

.menu-ribs h3 {
    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 5%;

}

.menu-cocteles p {
    font-family: serif;
    flex-direction: row;

}

.menu-cocteles h3 {
    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 5%;

}

.texto-galeria {

    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 5%;

}

.imagen-galeria {
    width: 260px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    margin-left: 5%;


}

.video {
    padding: 2%;
}

.eventos-titulo {
    font-size: 30px;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    font-family: sans-serif;
    font-weight: bold;
    background-color: white;
    color: black;

}

.titulo-formulario {

    font-family: sans-serif;
    font-size: 20px;
    padding: 5%;
    background-color: white;
    color: black;

}

.ubicacion {

    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;

}

.texto-ubicacion {

    text-align: center;
    color: black;
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3%;
    background-color: white;

}
