form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    font-family: $fuente-principal;
    color: $color-secundario;



}

.titulo-formulario h5 {

    display: flex;
    text-align: center;
    justify-content: center;
    color: $color-secundario;
    padding: 5%;
    font-size: $font-size;
    font-family: $fuente-principal;

}

.ubicacion {

    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.texto-ubicacion {

    text-align: center;
    color: $color-secundario;
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: $font-size;
    font-family: $fuente-principal;
    padding: 3%;


}

@media (min-width:1200px) {

    .texto-ubicacion {

        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;



    }
}