

.texto-galeria {

    font-family: $fuente-principal;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 5%;
    font-size: $font-size;
    color: $color-primario;
}



.imagen-galeria {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 10px;


}

.video {
   
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 2%;
    margin-left: 13%;


}

.eventos-titulo {
    flex-direction: row;
    font-size: 20px;
    font-family: $fuente-principal;
  


}
.titulo-video h3{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 15%;
    padding: 3%;
    color: $color-secundario;
    font-size: $font-size;
    font-family: $fuente-principal;
   


}
.boton-reserva{
    display: flex;
    flex-direction: column;
    margin-left: 40%; 
    padding: 10px 32px;
    background-color: black;
    border-radius: 15%;
    color: $color-primario;


}
@media (min-width:1200px) {

    
    .imagen-galeria{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 50vh repeat(1,50vh);

    }
.imagen-galeria img{
    width: 100%;
    height: 100%;
}

.titulo-video{
    display: flex;
    align-items: center;
    font-size: $fuente-principal;
    font-family: $fuente-principal;
    color: $color-secundario;
}

.boton-reserva{

    text-align: center;
    padding: 10px 32px;
    margin-right: 15px;
    background-color: black;
    border-radius: 15%;
    color: $color-primario;

}
.video {

    padding: 2%;
    margin-left: 20%;
  
}
}