.titulo {
    display: flex;
    font-family: $fuente-principal;
    color: $color-primario;
    font-size: $font-size;
    padding: 2%;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.titulo h2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: $color-secundario;
    font-size: $font-size;
}

.titulo h3 {
    color: $color-secundario;
    font-size: $font-size ;
    font-family: $fuente-principal;

}


.galeria-index {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width:1200px) {


    .galeria-index {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }

    .galeria-index img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
        object-fit: cover;
    }

    .imagen-principal {
        grid-column: span 1;
        grid-row: span 2;
    }
}