

.titulo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-primario;
    font-size: $font-size;
    font-family: $fuente-principal;

}
.menu-ribs{
   
    
}
.imagen-ribs{
    
 
}
    
    
    
