.imagen-ribs {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;

}

.menu-ribs {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-pastas {

    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.menu-pastas {

    align-items: center;
    display: flex;
    flex-direction: column;

}

.imagen-costeles {

    width: 290px;
    height: 230px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 3%;

}

.menu-cocteles {

    font-size: 17px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.menu-pastas p {
    font-family: serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.menu-pastas h3 {
    font-family: serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 5%;

}

.menu-ribs p {
    font-family: serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.menu-ribs h3 {
    font-family: serif;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5%;

}

.menu-cocteles p {
    font-family: serif;
    flex-direction: column;

}

.menu-cocteles h3 {
    font-family: serif;
    flex-direction: column;
    text-align: center;
    justify-content: center;


}

@media (min-width:1200px) {
   .menu-ribs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    max-width: 80%;
    padding-top: 5%;

    }
    .imagen-ribs{
        grid-row: span 2/2;
        margin-left: 20%;
        
    }
    .menu-pastas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    max-width: 80%;
    padding-top: 5%;

    }
    .imagen-pastas{
        grid-row: span 2/2;
        margin-left: 20%;

    }
    .menu-cocteles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    max-width: 80%;
    padding-top: 5%;

    }
    .imagen-costeles{
        grid-row: span 2/2;
        margin-left: 20%;
        

    }
   }


