
.texto-galeria {

    font-family: serif;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 5%;

}



.titulo-menu h2 {

    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;


}

.menu-ribs h3 {

    justify-content: center;
    align-items: center;
    display: flex;


}

.menu-ribs p {
    justify-content: center;
    align-items: center;
    display: flex;


}

.imagen-ribs {
    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    margin-left: 20%;
}

.imagen-pastas {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    margin: 20%;

}

.menu-pastas h3 {

    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen-costeles {

    width: 280px;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    margin: 20%;
    text-align: center;
    padding: 0%;

}

.menu-cocteles h3 {
    text-align: center;



}

@media (min-width:1200px) {

    .imagen-ribs {

        width: 280px;
        height: 200px;
        display: flex;
        align-content: center;
        justify-content: center;
        background-position: center;
        flex-direction: row;
        margin-left: 10%;



    }

    .menu-ribs {

        font-size: 18px;
        align-items: center;
        padding: 3%;
        margin-right: 20%;
        flex-direction: row;
        justify-content: center;
        display: inline-flex;
        gap: 3px;


    }

    .imagen-pastas {

        width: 280px;
        height: 200px;
        display: flex;
        align-content: center;
        justify-content: center;
        background-position: center;
        flex-direction: row;
        background-color: bisque;
        margin: 3%;
        justify-content: space-between;

    }

    .menu-pastas {

        font-size: 18px;
        align-items: center;
        padding: 3%;
        margin-right: 20%;
        flex-direction: row;
        justify-content: space-between;
        display: inline-flex;
        gap: 3px;


    }

    .imagen-costeles {

        width: 280px;
        height: 200px;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 0%;
        flex-direction: row;
        margin-left: 5%;


    }

    .menu-cocteles {

        font-size: 17px;
        align-items: center;
        padding: 3%;
        margin-left: 10%;
        display: inline-flex;
        justify-content: center;
        display: flex;
        gap: 3px;


    }

    .titulo-menu {

        padding: 3%;
        background-color: white;

    }

    .menu-pastas p {
        font-family: serif;
        display: inline-flex;
        text-align: center;
        justify-content: center;

    }

    .menu-pastas h3 {
        font-family: serif;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 5%;

    }

    .menu-ribs p {
        font-family: serif;
        flex-direction: row;
        justify-content: center;

    }

    .menu-ribs h3 {
        font-family: serif;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 5%;

    }

    .menu-cocteles p {
        
        margin-right: 10%;
        

    }

    .menu-cocteles h3 {
        font-family: serif;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 5%;
        gap: 10px;
        
        


       

    }


}

