
.quienes-somos {
    text-align: center;
    padding: 2%;
    font-size: $font-size;
    font-family: $fuente-principal;
    color: $color-primario;

}

.nosotros {
    justify-content: center;
    padding: 2%;
    font-size: $font-size;
    font-family: $fuente-principal;
    color: $color-secundario;

}

.imagen-nosotros {
    width: 95%;
    height: 95%;
}

@media (min-width:1200px) {
    .nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }

}