footer {
    text-align: center;
    background-color: $color-secundario;
    color: $color-primario;
    font-size: $font-size
   
}

.footer-contenedor {
    padding: 1%;
    font-size: $fuente-principal;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fuente-principal;
    
}
   

    .redes-iconos li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;
        font-size: $font-size
        
    }

    .redes-sociales h3{
        font-size: $font-size;
        


    }

    .datos {
        font-size: $font-size;

    }

.botones-footer{
    
   
    justify-content: center;
    align-items: center;
    background-color: black;
    color: $color-primario;
    border-radius: 15%;
    border-color: $color-primario;
    padding: 5px 10px;


}


@media (min-width: 1200px) {

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
    }

    .footer-contenedor {
        align-items: center;
        padding: 1%;

    }

    .span {
        margin-right: 5%;
        font-size: 15px;
    }

    .botones-footer{
    
    background-color: black;
    color: $color-primario;
    border-radius: 15%;
    border-color: $color-primario;
    padding: 5px 10px;

}
}
