footer {
    text-align: center;
    background-color: $color-secundario;
    color: $color-primario;
    font-size: 12%;
}

.footer-contenedor {
    padding: 1%;
    font-size: 12%;
    display: flex;



    .redes-iconos li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        font-size: 12%;
    }

    .datos {
        font-size: $font-size;

    }
}

@media (min-width: 1200px) {

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
    }

    .footer-contenedor {
        align-items: center;
        padding: 1%;

    }

    .span {
        margin-right: 2%;
        font-size: 15px;
    }
}
