.header {

    background-color: black;
    color: white;
    padding: 1%;


    .header-nav {
        display: flex;
        justify-content: center;
        padding: 1%;

    }
}

.item {
    text-align: center;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: $color-primario;

}

ul {
    list-style: none;
    font-family: $fuente-principal;
    font-size: $font-size;

}

.imagen-logo {
    display: flex;
    width: 60px;
    height: 75px;
    justify-content: center;


}

@media (min-width: 1200px) {

    .header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .header-lista {
        display: flex;
        gap: 20px;
    }

    .titulo {
        margin-right: 15%;
    }

}